<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <h1>Form</h1>

    <form method="POST" action="/new">
        
        <label>Author's Name</label>
        <input type="text" name="authorName"></input> 

        <label>Message</label>
        <textarea type="text" name="userMsg"></textarea>

        <button type="submit">Submit</button>

     </form>
     


  </body>
</html>