<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <h1>Go to the form</h1>
    <a href='/new'>Form</a>

    <h1>User Messages:</h1>

    <% messages.forEach((message) => { %>

    

     <p>User: <%= message.user %></p> 
     <p>Message: <%= message.text %></p>
     <p>Added: <%= message.added %></p>
     
      


    <% }) %> 


    
    


  </body>
</html>
